<ion-view title="Actualités" id="page3">
	<ion-nav-buttons side="right" class="has-header">
    	<button class="button button-icon icon ion-ios-contact" ui-sref="compte"></button>
	</ion-nav-buttons>
  <ion-content padding="true" class="has-header" overflow-scroll="false">
  	<button ui-sref="addActuality" ng-if="$root.role == 'ROLE_DIRECTOR'">Ajouter une actualité</button>
	<br/>
	<div ng-repeat="actuality in actualities">
		<div class="tabActuality" on-drag-left="displayDeleteActuality($index)" on-drag-right="hideDeleteActuality($index)">
			<div class="cellImg" ng-click="hideDeleteActuality($index)">
				<img class="imgActuality" ng-src="{{actuality.pictureName}}">
			</div>
			<div class="containerTextTitle" ng-click="hideDeleteActuality($index)">
				<div class="centerTxt">
					<span class="titleActuality bold">
						{{actuality.title}}
					</span>
				</div>
				<span class="textActuality">
					{{actuality.text.substring(0,150)}}
					<br/>
					<a ng-click="displayActuality($index)" ng-if="actuality.readMore === 1">Voir la suite</a>
				</span>
			</div>
			<div class="deleteActuality" ng-click="deleteActuality($index)">
				<span class="deleteTextActuality" ng-show="actuality.viewDelete && $root.role == 'ROLE_DIRECTOR'">Supprimer</span>	
			</div>
		</div>
		<br/>
		<a><div id="lienJalemaAct">{{actuality.nbLike}}&nbsp;&nbsp;<a id="lienJalemaUrlLike" ng-if="actuality.like === 1" ng-click="removeLike(actuality.id, index)">J'alema</a><a id="lienJalemaUrlNotLike" ng-if="actuality.like === 0" ng-click="addLike(actuality.id, index)">J'alema</a></div></a>
		<a id="lienCommentaireAct" ng-click="showCommentaires()">Commenter</a>
		<br/>
	</div>
	<div class="spacer-60"></div>
  </ion-content>
</ion-view>