<ion-view title="Commentaires" id="page2">
	<ion-nav-buttons side="right" class="has-header">
   		<button class="button button-icon icon ion-ios-contact" ui-sref="compte"></button>
  	</ion-nav-buttons>
    <ion-content padding="true" class="has-header" overflow-scroll="false">
		<i class="deleteCom icon ion-trash-a" ng-if="$root.role == 'ROLE_DIRECTOR'" ng-click="deleteListCom()"></i>
		<div id="inputCommentaire">
			    <textarea id="textCommentaire" name="commentaire" placeholder="Entrez votre commentaire" ng-model="data.text"></textarea>
			    <button id="buttonComment" class="button button-positive center" ng-click="comment()">Commenter</button>
		</div>
		<br/>
		<div id="listCommentary">
				<div ng-repeat="com in commentary" ng-if="$index %2 === 0">
					<div id="blocCommentary" class="blocCommentary firstBlocCom" ng-if="$index < commentary.length">
						<div>
							<span class="pseudoCom">{{com.loginUser.firstname}} {{com.loginUser.lastname}}</span><span class="dateCom">{{com.date | date : 'dd-MM-yyyy'}}</span>
						</div><br/>
						<div class="textCom">{{com.text}}</div>
						<div class="suppHisCom" ng-if="commentary[$index].own == 1" ng-click="deleteCom(commentary[$index].id)">supprimer</div>
						<input type="checkbox" ng-model="commentary[$index].delete" ng-if="$root.role == 'ROLE_DIRECTOR'" ng-true-value="'yes'" ng-false-value="'no'"/>
					</div>
					<div id="blocCommentary" class="blocCommentary secondBlocCom" ng-if="$index + 1< commentary.length">
						<div>
							<span class="pseudoCom">{{commentary[$index + 1].loginUser.firstname}} {{commentary[$index + 1].loginUser.lastname}}</span><span class="dateCom">{{commentary[$index + 1].date | date : 'dd-MM-yyyy'}}</span>
						</div><br/>
						<div class="textCom">{{commentary[$index + 1].text}}</div>
						<div class="suppHisCom" ng-if="commentary[$index].own == 1" ng-click="deleteCom(commentary[$index + 1].id)">supprimer</div>
						<input type="checkbox" ng-model="commentary[$index + 1].delete" ng-if="$root.role == 'ROLE_DIRECTOR'" ng-true-value="'yes'" ng-false-value="'no'"/>
					</div>
				</div>
			</div>
			<div class="spacer-60"></div>
	</ion-content>
</ion-view>
