<ion-view title="Mon Compte" hide-back-button="true" id="pageCompte" overflow-scroll="false">
   <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-arrow-left-c" ui-sref="mesSejours"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="bandeauViolet"><span class="verticalAlign">Vos Informations</span></div>
    <br/>
      <div class="borderRound"><span class="bold compteItem">Login : </span><span class="compteValue">{{data.user.login}}</span></div>
      <div class="borderRound"><span class="bold compteItem">Nom : </span><span class="compteValue">{{data.user.lastname}}</span></div>
      <div class="borderRound"><span class="bold compteItem">Prénom : </span><span class="compteValue">{{data.user.firstname}}</span></div>
      <div class="borderRound"><span class="bold compteItem">E-Mail : </span><span class="compteValue">{{data.user.email}}</span></div>
      <div class="borderRound" ng-if="$root.role !== 'ROLE_DIRECTOR'"><span class="bold compteItem">Numéro de famille : </span><span class="compteValue" ng-if="$root.role == 'ROLE_RELATIVE'">{{data.familyNumber}}</span></div>
    <br/>
    <div class="centerButtonDiv"><button class="modifProfil" ui-sref="modifProfil">Modifier votre profil</button><div>
    <br/>
    <div ng-if="$root.role === 'ROLE_RELATIVE'">
    <div class="bandeauJaune"><span class="verticalAlign">Enfants gérés</span></div>
      <div class="borderCompteTabJaune">
        <div class="spacer-15"></div>
        <table class="tabWithoutBorder">
          <tr ng-repeat="child in data.children"><td class="caseTab1-3">{{child.lastname}}</td><td class="caseTab1-3">{{child.firstname}}</td><td class="caseTab1-3"><i class="icon ion-edit" ng-click="manageChild({{child.id}})"></i></td></tr>
        </table>
        <div class="spacer-15"></div>
      </div>
    <br/>
    </div>
    <div ng-if="$root.role !== 'ROLE_DIRECTOR'">
      <div class="bandeauVert"><span class="verticalAlign">Vos Relations</span></div>
      <div class="borderCompteTabVert">
        <div class="spacer-15"></div>
        <table class="tabWithoutBorder">
          <tr ng-repeat="child in data.user.accessChildren"><td class="caseTab1-3">{{child.idChild.lastname}}</td><td class="caseTab1-3">{{child.idChild.firstname}}</td><td class="caseTab1-3">{{child.familyLink}}</td></tr>
        </table>
        <div class="spacer-15"></div>
      </div>
    </div>
    <br/>
    <div class="bandeauDeco">
      <span class="lienDeco" ng-click="deco()">Se déconnecter</span>
    </div>
    <div class="spacer-60"></div>
  </ion-content>
</ion-view>