<ion-view title="Gérer votre enfant" hide-back-button="true" id="page8">
	<ion-nav-buttons side="left">
    	<button class="button button-icon icon ion-arrow-left-c" ui-sref="compte"></button>
  	</ion-nav-buttons>
  	<ion-content padding="true" class="has-header" overflow-scroll="false">
  		<div class="bandeauJaune"><span class="verticalAlign">Personne accédant à {{data[0].idChild.firstname}} {{data[0].idChild.lastname}}</span></div>
  		<div class="borderCompteTabJaune">
        	<div class="spacer-15"></div>
        	<table class="tabWithoutBorder">
          	<tr ng-repeat="user in data"><td class="caseTab1-4">{{user.loginUser.lastname}}</td><td class="caseTab1-4">{{user.loginUser.firstname}}</td><td class="caseTab1-4"><span ng-show="!edit">{{user.familyLink}}</span><input class="modifRelation" ng-show="edit" ng-model="user.familyLink"/></td><td class="caseTab1-8"><i class="icon ion-close-round deleteRelation" ng-click="deleteRelationChild({{user.id}})"></i></td><td class="caseTab1-8"><i class="icon ion-edit" ng-show="!edit" ng-click="edit=true"></i><i class="icon ion-checkmark-round" ng-show="edit" ng-click="modifRelationChild({{user.id}}, $index)"></i></td></tr>
        	</table>
        	<div class="spacer-15"></div>
      	</div>
		<br/>
		<div class="bandeauVert"><span class="verticalAlign">Ajouter une relation</span></div>
		<div class="borderCompteTabVert">
      		<div class="spacer-15"></div>
      			<form>
					<div class="boxChangePassword"><label for="login" class="bold itemChangePassword">Login de l'utilisateur : </label><input type="text" id="login" class="inputChangePassword" ng-style="myStyleLogin" ng-model="login.login" placeholder="login"/></div>
					<div class="spacer-5"></div>
					<div class="borderSeparator"></div>
					<div class="spacer-5"></div>
					<div class="boxChangePassword"><label for="relation" class="bold itemChangePassword">Relation avec l'enfant : </label><input type="text" id="relation" class="inputChangePassword" ng-style="myStyleRelation" ng-model="add.familyLink" placeholder="relation"/></div>
					<div class="spacer-5"></div>
					<div class="borderSeparator"></div>
					<div class="spacer-5"></div>
					<div class="centerButton">
	    				<button class="buttonVert" ng-click="addRelation(data[0].idChild.id)">Ajouter</button>
	    			</div>
	    		</form>
			<div class="spacer-15"></div>
      	</div>
  	</ion-content>
</ion-view>