<ion-view title="Alema">
	<ion-content padding="true" class="has-header" overflow-scroll="false">
		<div id="accueilGen">
			<div class="spacer-50"></div>
			<div class="blocLigne">
				<a ui_sref="menuGen.sejours_gen"><img src="img/sejours.png"/></a>
				<div class="spacer15-25"></div>
				<a ui_sref="menuGen.brochure_gen"><img src="img/brochure.png"/></a> 
			</div>
			<div class="spacer-25"></div>
			<div class="blocLigne">
				<a href="https://www.youtube.com/watch?v=SKL-R_2p1XM&t=75s" target="_system"><img src="img/video.png"/></a>
				<div class="spacer15-25"></div>
				<a ui_sref="menuGen.partenaires_gen"><img src="img/partenaires.png"/></a>
			</div>
			<div class="spacer-25"></div>
			<div class="blocLigne">
				<a ui-sref="menuGen.contact_gen"><img src="img/contact.png"/></a>
				<div class="spacer15-25"></div>
				<a ui-sref="menuGen.reseaux"><img src="img/reseaux.png"/></a>
			</div>
		</div>
		<div class="spacer-60"></div>
		<div class="centerLink"><a ui-sref="cgu" ng-click="$root.cguAct = true">Condition générale d'utilisation</a></div>
		<div class="spacer-60"></div>
	</ion-content>
</ion-view>