<ion-view title="Alema">
	<ion-content padding="true" class="has-header" overflow-scroll="false">
		<div id="accueilGen">
			<div class="spacer-50"></div>
			<div class="blocLigne">
				<a ui-sref="menuGen.actualites_gen"><img src="img/actualites.png"/></a>
				<div class="spacer15-25"></div>
				<a ui_sref="menuGen.brochure_gen"><img src="img/brochure.png"/></a> 
			</div>
			<div class="spacer-25"></div>
			<div class="blocLigne">
				<img ui-sref="menuGen.contact_gen" src="img/contact.png"/>
				<div class="spacer15-25"></div>
				<img src="img/partenaires.png"/> 
			</div>
			<div class="spacer-25"></div>
			<div class="blocLigne">
				<img src="img/sejours.png"/>
				<div class="spacer15-25"></div>
				<a href="https://www.youtube.com/watch?v=SKL-R_2p1XM&t=75s" target="_system"><img src="img/video.png"/></a>
			</div>
			<div class="spacer-50"></div>
			<div class="bandeauSocial">
				Nos réseaux sociaux
			</div>
			<br/>
			<div class="blocLigne">
				<a href="https://fr-fr.facebook.com/sejours.alema" target="_system"><img src="img/facebook.png" class="iconSocialNetwork"/></a>
				<div class="spacer25-25"></div>
				<a href="https://www.youtube.com/user/associationalema" target="_system"><img src="img/youtube.png" class="iconSocialNetwork"/></a>
				<div class="spacer25-25"></div>
			</div>
			<div id="lastSocialNetwork">
				<a href="https://www.flickr.com/photos/142978632@N02" target="_system"><img src="img/flickr.png" class="iconSocialNetwork"/></a>
			</div>
		</div>
		<div class="spacer-60"></div>
	</ion-content>
</ion-view>