<ion-view title="Demande de Brochure {{brochure.season}}" hide-back-button="false">
  <ion-content padding="true" class="has-header" overflow-scroll="false">
  Recevoir la brochure au format pdf :
  <label class="item item-input item-stacked-label" id="dde-brochure-input9">
  <span class="input-label">Entrez votre mail :</span>
        <input type="email" placeholder="Mail" required="required" ng-style="style.email" ng-model="data.email">
        </label>
  <a id="brochure-pdf-button9" class="button button-positive  button-block" ng-click="sendBrochure()">Recevoir la brochure par mail </a>

  Recevoir la brochure en version papier :
<label class="item item-input item-stacked-label" id="dde-brochure-input9">
  <span class="input-label">Nom</span>
        <input type="text" placeholder="Nom" required="required" ng-style="style.lastname" ng-model="data.lastname"></label>
      <label class="item item-input item-stacked-label" id="dde-brochure-input9">
        <span class="input-label">Prénom</span>
        <input type="text" placeholder="Prénom" required="required" ng-style="style.firstname" ng-model="data.firstname"></label>
      <label class="item item-input item-stacked-label" id="dde-brochure-input9>
      <span class="input-label"> Adresse </span> <input type="text" placeholder="Adresse" required="required" ng-style="style.address" ng-model="data.address">
      </label>
      <label class="item item-input item-stacked-label" id="dde-brochure-input9">
      <span class="input-label"> Ville </span> <input type="text" placeholder="Ville" required="required" ng-style="style.city" ng-model="data.city">
      </label>
      <label class="item item-input item-stacked-label" id="dde-brochure-input9">
      <span class="input-label"> Code Postal</span>
      <input type="text" placeholder="Code Postal" required="required" ng-style="style.postcode" ng-model="data.postcode" >
      </label>

  <a id="brochure-papier-button9" class="button button-positive  button-block" ng-click="sendBrochurePoste()">Recevoir la brochure papier</a>
  <div class="spacer-60"></div>
  </ion-content>
</ion-view>