<ion-view title="Brochure" hide-back-button="false">
  <ion-content padding="true" class="has-header" overflow-scroll="false">
				<div class="spacer-80"></div>
				<a ng-click="season(0)" ui_sref="menuGen.askBrochureGen"> Brochure Eté
				<img ng-src="img/brochureEte.jpg" class="centerImg imgSejou000000000000r" /> </a>
		</div>
		<div class="spacer-80"></div>
		<div class="blocLigne">
				<a ng-click="season(1)" ui-sref="menuGen.askBrochureGen"> Brochure Hiver
				<img ng-src="img/brochureHiver.jpg" class="centerImg imgSejou000000000000r" /> </a>
		</div>
</ion-view>