<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menuGen"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menuGen">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-listGen">
        <ion-item id="menu-list-itemGen1" ui-sref="menuGen.accueil_gen" menu-close="">Accueil</ion-item>
        <ion-item id="menu-list-itemGen2" ui-sref="menuGen.actualites_gen" menu-close="">Actualités</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>