<ion-view title="Réseaux Sociaux" hide-back-button="false">
  <ion-content padding="true" class="has-header" overflow-scroll="false">
  	<div id="reseaux">
		<div class="spacer-60"></div>
	  	<div id="fb">
			<a href="https://fr-fr.facebook.com/sejours.alema" target="_system"><img src="img/facebook.png" class="iconSocialNetwork"/></a>
		</div>
		<div class="spacer-60"></div>
		<div id="yt">
			<a href="https://www.youtube.com/user/associationalema" target="_system"><img src="img/youtube.png" class="iconSocialNetwork"/></a>
		</div>
		<div class="spacer-60"></div>
		<div id="flikr">
			<a href="https://www.flickr.com/photos/142978632@N02" target="_system"><img src="img/flickr.png" class="iconSocialNetwork"/></a>
		</div>
	</div>
	<div class="spacer-60"></div>
  	</ion-content>
</ion-view>