<div class="modal image-modal">
    <ion-slides options="options" slider="data.slider">
        <ion-slide-page ng-repeat="image in pictures">
            <img ng-src="{{image.pictureName}}" class="fullscreen-image" on-swipe-down="closeModal()"/>
            <i class="icon ion-close leaveCross" ng-click="closeModal()"></i>
			<a><div id="lienJalemaImg">{{image.nbLike}}&nbsp;&nbsp;<a id="lienJalemaUrlLike" ng-if="image.like === 1" ng-click="removeLike(image.id, index)">J'alema</a><a id="lienJalemaUrlNotLike" ng-if="image.like === 0" ng-click="addLike(image.id, index)">J'alema</a></div></a>
			<a id="lienCommentaireImg" ng-click="showCommentaires()">Commenter</a>
        </ion-slide-page>
    </ion-slides>
</div>