<ion-view title="Connexion" id="page5" overflow-scroll="false">
  <ion-content padding="true" class="has-header">
    <form id="connexion-form2" class="list">
      <label class="item item-input item-stacked-label" id="connexion-input3">
        <span class="input-label">Login</span>
        <input type="text" placeholder="Login" ng-model="data.login">
      </label>
      <label class="item item-input item-stacked-label" id="connexion-input4">
        <span class="input-label">Mot de passe</span>
        <input type="password" placeholder="Mot de passe" ng-model="data.password">
      </label><br/>
      <input type="checkbox" name="remember" ng-model="remember.remember" ng-true-value="'yes'" ng-false-value="'no'"> Se souvenir de moi
      <button id="connexion-button8" class="button button-positive  button-block" ng-click="login()">Connexion</button>
     </form>
     <a ui-sref="passwordForget" class="centerLink">Mot de passe oublié</a>
     <div ng-show="load" class="iconLoad">Chargement<br/><ion-spinner icon="bubbles"></ion-spinner></div>
  </ion-content>
</ion-view>