<ion-view title="Connexion" id="page5" overflow-scroll="false">
  <ion-content padding="true" class="has-header">
    <form id="connexion-form2" class="list">
      <label class="item item-input item-stacked-label" id="connexion-input3">
        <span class="input-label">Login</span>
        <input type="text" placeholder="Login" ng-model="data.user">
      </label>
      <label class="item item-input item-stacked-label" id="connexion-input4">
        <span class="input-label">Mot de passe</span>
        <input type="password" placeholder="Mot de passe" ng-model="data.password">
      </label>
      <button id="connexion-button8" class="button button-positive  button-block" ng-click="login()">Connexion</button>
     </form>
     <a href="#" class="centerLink">Mot de passe oublié</a>
  </ion-content>
</ion-view>