<ion-view title="Informations Séjour {{info.name}}" >
	<ion-nav-buttons side="right" class="has-header">
    	<button class="button button-icon icon ion-ios-contact" ui-sref="compte"></button>
	</ion-nav-buttons>
	<ion-content padding="true" class="has-header" overflow-scroll="false">
		<img ng-src="{{info.urlPicture}}" class="centerImg">
		<br/>
		<div class="centerTxt">
			Séjour <span class="bold">{{info.name}}</span> se déroulant à <span class="bold">{{info.location}}</span>
		</div>
		<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
		Date de départ : {{info.dateStart | date : 'dd-MM-yyyy'}}<br/>
		<i class="fa fa-bus" aria-hidden="true"></i>
		Lieu de départ : {{info.placeStart}}<br/>
		<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
		Date de fin : {{info.dateEnd | date : 'dd-MM-yyyy'}}<br/>
		<i class="fa fa-bus" aria-hidden="true"></i>
		Lieu d'arrivée : {{info.placeEnd}}<br/>
		<i class="icon ion-person"></i> Directeur : {{info.manager.user.firstname}} {{info.manager.user.lastname}}<br/>
		<i class="icon ion-email"></i> Mail : {{info.manager.user.email}}
	</ion-content>
</ion-view>