<ion-view title="Informations Séjour" >
	<ion-nav-buttons side="right" class="has-header">
    	<button class="button button-icon icon ion-ios-contact" ui-sref="compte"></button>
	</ion-nav-buttons>
	<ion-content padding="true" class="has-header" overflow-scroll="false">
	<b>Séjour:</b> {{sejour.nom}}<br><br>
	<b>Directeur:</b> {{sejour.directeur}}<br><br>
	<b>Contact:</b> {{sejour.contact}}<br><br>
	<b>Date de départ:</b> {{sejour.date_depart}} à {{sejour.hdepart}}<br>
	<b>Lieu de départ:</b> {{sejour.lieu_depart}}<br><br>
	<b>Date d'arrivée:</b> {{sejour.date_retour}} à {{sejour.retour}}<br> 
	<b>Lieu d'arrivée:</b> {{sejour.lieu_retour}}<br><br>
	<b>Activités:</b> {{sejour.activites}}<br><br>
</ion-view><ion-view title="Informations Séjour" >
	<ion-nav-buttons side="right" class="has-header">
    	<button class="button button-icon icon ion-ios-contact" ui-sref="compte"></button>
	</ion-nav-buttons>
	<ion-content padding="true" class="has-header" overflow-scroll="false">
	<b>Séjour:</b> {{sejour.nom}}<br><br>
	<b>Directeur:</b> {{sejour.directeur}}<br><br>
	<b>Contact:</b> {{sejour.contact}}<br><br>
	<b>Date de départ:</b> {{sejour.date_depart}} à {{sejour.hdepart}}<br>
	<b>Lieu de départ:</b> {{sejour.lieu_depart}}<br><br>
	<b>Date d'arrivée:</b> {{sejour.date_retour}} à {{sejour.retour}}<br> 
	<b>Lieu d'arrivée:</b> {{sejour.lieu_retour}}<br><br>
	<b>Activités:</b> {{sejour.activites}}<br><br>
</ion-view>