<ion-view title="Inscription" id="page7">
  <ion-content padding="true" class="has-header" overflow-scroll="false">
    <form id="inscription-form4" class="list">
      <label class="item item-input item-stacked-label" id="inscription-input7">
        <span class="input-label">Login</span>
        <input type="text" placeholder="Login" required="required" ng-style="style.login" ng-model="data.user.login">
      </label>
      <label class="item item-input item-stacked-label" id="inscription-input8">
        <span class="input-label">Nom</span>
        <input type="text" placeholder="Nom" required="required" ng-style="style.lastname" ng-model="data.user.lastname">
      </label>
      <label class="item item-input item-stacked-label" id="inscription-input9">
        <span class="input-label">Prénom</span>
        <input type="text" placeholder="Prénom" required="required" ng-style="style.firstname" ng-model="data.user.firstname">
      </label>
      <label class="item item-input item-stacked-label" id="inscription-input10">
        <span class="input-label">Mail</span><br/>
        <input type="email" placeholder="Mail" required="required" ng-style="style.email" ng-model="data.user.email">
      </label>
      <label class="item item-input item-stacked-label" id="inscription-input11">
        <span class="input-label">Mot de passe</span>
        <input type="password" placeholder="Mot de passe" required="required" ng-style="style.plainPassword" ng-model="data.user.plainPassword">
      </label>
      <label class="item item-input item-stacked-label" id="inscription-input12">
        <span class="input-label">Confirmation Mot de Passe</span>
        <input type="password" placeholder="Mot de passe" required="required" 
        ng-style="style.confirmPassword" ng-model="confirmPassword.confirmPassword">
      </label>
      <label class="item item-input item-stacked-label" id="inscription-input13">
        <span class="input-label">Numéro De Famille</span>
        <input type="text" placeholder="Numéro De Famille" ng-model="data.familyNumber">
      </label>
      <div class="centerLink"><a ui-sref="cgu" ng-click="$root.cguAct = false">Condition générale d'utilisation</a></div>
      <div ng-style="style.cgu"><input type="checkbox" ng-model="cgu.cgu">J'accepte les conditions générales</div>
      <a id="inscription-button9" class="button button-positive  button-block" ng-click="signUp()">S'inscrire</a>
    </form>
    <div class="spacer-60"></div>
  </ion-content>
</ion-view>