<ion-view title="Mes Séjours" hide-back-button="true" id="page6">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-contact" ui-sref="compte"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header" overflow-scroll="false">
    <div ng-repeat="sej in sejours" class="containerImg">
        Séjour {{sej.name}} <br/>
        <span ng-if="$root.role != 'ROLE_DIRECTOR'"> 
          Enfant participant : 
          <span ng-repeat="child in sej.child">
            {{child.firstname}}
          </span>
        </span>
      <a ui-sref="menu.informations">
        <div class="superpose aVenir" ng-if="sej.info === 'A Venir'">{{sej.info}}</div>
        <div class="superpose fini" ng-if="sej.info === 'Fini'">{{sej.info}}</div>
        <div class="superpose enCours" ng-if="sej.info === 'En cours'">{{sej.info}}</div>
        <img ng-src="{{sej.urlPicture}}" class="centerImg imgSejour" ng-click="change($index)"/>
      </a>
      <div class="spacer-25"></div>
    </div>
    <div class="spacer-60"></div>
  </ion-content>
</ion-view>