<ion-view title="Mes Séjours" hide-back-button="true" id="page6">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-contact" ui-sref="compte"></button>
  </ion-nav-buttons>


  <ion-content padding="true" class="has-header" overflow-scroll="true">
      <ion-list ng-repeat="sej in mesSejours">

        <a ui-sref="menu.sejour">
            <img class="photoMesSejour" src={{sej.image}} ng-click="change({{sej.id}})">
            <div class="txt-listSejour">
                {{sej.nom}}
            </div>
        </a>

      </ion-list>
    <div class="spacer-60"></div>
  </ion-content>

</ion-view>