<ion-view title="Mot de passe" hide-back-button="true" overflow-scroll="false">
	<ion-nav-buttons side="left">
    	<button class="button button-icon icon ion-arrow-left-c" ui-sref="compte"></button>
  	</ion-nav-buttons>
  	<ion-content>
  		<div class="spacer-25"></div>
		<div class="boxChangePassword"><label for="old" class="bold itemChangePassword">Mot de passe actuel : </label><input type="password" id="old" class="inputChangePassword"  ng-model="data.user.oldPassword" placeholder="ancien" /></div>
		<div class="spacer-5"></div>
		<div class="borderSeparator"></div>
		<div class="spacer-5"></div>
	    <div class="boxChangePassword"><label for="new" class="bold itemChangePassword">Nouveau : </label><input type="password" id="new" class="inputChangePassword" ng-model="data.user.plainPassword" placeholder="nouveau"/></div>
	    <div class="spacer-5"></div>
		<div class="borderSeparator"></div>
		<div class="spacer-5"></div>
	    <div class="boxChangePassword"><label for="confirm" class="bold itemChangePassword">Confirmer : </label><input type="password" id="confirm" class="inputChangePassword" ng-model="confirm.confirm" placeholder="confirmer"/></div>
	    <div class="spacer-5"></div>
		<div class="borderSeparator"></div>
		<div class="spacer-5"></div>
		<br/>
		<div class="centerButton">
    		<button class="buttonBleu" ng-click="changePassword()">Enregistrer</button>
    	</div>
	</ion-content>
</ion-view>