<ion-view title="Modifiez votre profil" hide-back-button="true" overflow-scroll="false">
	<ion-nav-buttons side="left">
    	<button class="button button-icon icon ion-arrow-left-c" ui-sref="compte"></button>
  	</ion-nav-buttons>
  <ion-content padding="true" class="has-header" overflow-scroll="false">
  	<div class="bandeauViolet"><span class="verticalAlign">Vos Informations</span></div>
    <br/>
      <div class="borderNormal"><span class="bold compteItem">Nom : </span><input class="inputChangeProfil borderNormal"  ng-model="data.user.lastname"/></div>
      <div class="borderNormal"><span class="bold compteItem">Prénom : </span><input class="inputChangeProfil borderNormal" ng-model="data.user.firstname"/></div>
      <div class="borderNormal"><span class="bold compteItem">E-Mail : </span><input class="inputChangeProfil borderNormal" ng-model="data.user.email"/></div>
      <div class="borderNormal" ng-if="$root.role !== 'ROLE_DIRECTOR'"><span class="bold compteItem">Numéro de famille : </span><input class="inputChangeProfil borderNormal" ng-model="data.familyNumber"/></div>
    <br/>
    <div class="centerButton">
    	<button class="buttonBleu" ui-sref="modifPassword">Modifier votre mot de passe</button>
    </div>
    <br/>
	<div class="centerButton">
    	<button class="buttonBleu" ng-click="validModifProfil()">Valider vos modifications</button>
    </div>
  </ion-content>
</ion-view>