<ion-view title="Mot de passe oublié" overflow-scroll="false">
	<ion-content padding="true" class="has-header">
		<form id="connexion-form2" class="list">
      		<label class="item item-input item-stacked-label">
		        <span class="input-label">Login</span>
		        <input type="text" placeholder="Login" ng-model="login.login">
	      	</label>
	      	<label class="item item-input item-stacked-label">
	        	<span class="input-label">Email</span>
	        	<input type="email" placeholder="Email" ng-model="data.email">
	      	</label><br/>
			<button class="button button-positive  button-block" ng-click="reset()">Envoyer</button>
     	</form>
	</ion-content>
</ion-view>