<ion-view title="Photos" id="page2">
	<ion-nav-buttons side="right" class="has-header">
   		<button class="button button-icon icon ion-ios-contact" ui-sref="compte"></button>
  	</ion-nav-buttons>
    <ion-content padding="true" class="has-header" overflow-scroll="false">
    	<button ng-click="loadImage()" ng-if="$root.role == 'ROLE_DIRECTOR'">Ajouter une image</button>
    	<i class="icon ion-trash-a deletePhoto" ng-if="$root.role == 'ROLE_DIRECTOR'" ng-click="deleteImg()"></i>
		<div class="row" ng-repeat="image in pictures" ng-if="$index % 4 === 0">
	        <div class="col col-25" ng-if="$index < pictures.length">
        		<input type="checkbox" ng-model="pictures[$index].delete" ng-if="$root.role == 'ROLE_DIRECTOR'" ng-true-value="'yes'" ng-false-value="'no'"/>
            	<img class="photo" ng-src="{{pictures[$index].pictureName}}" ng-click="showImages($index)"/>
	        </div>
	        <div class="col col-25" ng-if="$index + 1 < pictures.length">
	        	<input type="checkbox" ng-model="pictures[$index + 1].delete" ng-if="$root.role == 'ROLE_DIRECTOR'" ng-true-value="'yes'" ng-false-value="'no'"/>
	            <img class="photo" ng-src="{{pictures[$index + 1].pictureName}}" ng-click="showImages($index + 1)"/>
	        </div>
	        <div class="col col-25" ng-if="$index + 2 < pictures.length">
	        	<input type="checkbox" ng-model="pictures[$index + 2].delete" ng-if="$root.role == 'ROLE_DIRECTOR'" ng-true-value="'yes'" ng-false-value="'no'"/>
	            <img class="photo" ng-src="{{pictures[$index + 2].pictureName}}" ng-click="showImages($index + 2)"/>
	        </div>
	        <div class="col col-25" ng-if="$index + 3 < pictures.length">
	        	<input type="checkbox" ng-model="pictures[$index + 3].delete" ng-if="$root.role == 'ROLE_DIRECTOR'" ng-true-value="'yes'" ng-false-value="'no'"/>
	            <img class="photo" ng-src="{{pictures[$index + 3].pictureName}}" ng-click="showImages($index + 3)"/>
	        </div>
    	</div>
		<div ng-show="load" class="iconLoadImg">Chargement<br/><ion-spinner icon="bubbles"></ion-spinner></div>
    	<div class="spacer-60"></div>
	</ion-content>
</ion-view>
