<!--DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"-->



<ion-view title="Photos" id="page2">
	<ion-nav-buttons side="right" class="has-header">
   		<button class="button button-icon icon ion-ios-contact" ui-sref="compte"></button>
  	</ion-nav-buttons>
    <ion-content padding="true" class="has-header" overflow-scroll="false">
    	<i class="icon ion-trash-a deletePhoto" ng-if="$root.login == 'admin'" ng-click="deleteImg()"></i>
		<div class="row" ng-repeat="image in photos" ng-if="$index % 4 === 0">
	        <div class="col col-25" ng-if="$index < photos.length">
        		<input type="checkbox" ng-model="photos[$index].delete" ng-if="$root.login == 'admin'" ng-true-value="'yes'" ng-false-value="'no'"/>
            	<img class="photo" ng-src="{{photos[$index].src}}" ng-click="showImages($index)"/>
	        </div>
	        <div class="col col-25" ng-if="$index + 1 < photos.length">
	        	<input type="checkbox" ng-model="photos[$index + 1].delete" ng-if="$root.login == 'admin'" ng-true-value="'yes'" ng-false-value="'no'"/>
	            <img class="photo" ng-src="{{photos[$index + 1].src}}" ng-click="showImages($index + 1)"/>
	        </div>
	        <div class="col col-25" ng-if="$index + 2 < photos.length">
	        	<input type="checkbox" ng-model="photos[$index + 2].delete" ng-if="$root.login == 'admin'" ng-true-value="'yes'" ng-false-value="'no'"/>
	            <img class="photo" ng-src="{{photos[$index + 2].src}}" ng-click="showImages($index + 2)"/>
	        </div>
	        <div class="col col-25" ng-if="$index + 3 < photos.length">
	        	<input type="checkbox" ng-model="photos[$index + 3].delete" ng-if="$root.login == 'admin'" ng-true-value="'yes'" ng-false-value="'no'"/>
	            <img class="photo" ng-src="{{photos[$index + 3].src}}" ng-click="showImages($index + 3)"/>
	        </div>
    </div>
    
    
   <form enctype="multipart/form-data" action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']); ?>" method="post">
    <fieldset>
        <legend> Ajouter une photo </legend>
          <p>
            <label for="fichier_a_uploader" title="Recherchez le fichier à uploader !">Envoyer le fichier :</label>
            <input type="hidden" name="MAX_FILE_SIZE" value="<?php echo MAX_SIZE; ?>" />
            <input name="fichier" type="file" id="fichier_a_uploader" />
            <input type="submit" name="submit" value="Uploader" />
          </p>
      </fieldset>
    </form>
    <div class="spacer-60"></div>
	</ion-content>
</ion-view>
