<ion-view title={{sejour.nom}} class="sejour" id="page8">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-contact" ui-sref="compte"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header" overflow-scroll="false">

  	<img src={{sejour.image}} class="centerImg" />
  	<i class="icon ion-earth"></i> <b>Séjour:</b> {{sejour.description}}<br><br> 
  	<div ng-if="admin==false">
  	<i class="icon ion-ios-body"></i> enfants concernés par le séjour<br><br>
	<i class="ion-android-person"></i> <b>Directeur:</b> {{sejour.directeur}}<br><br>
	<i class="ion-ios-telephone"></i> <b>Contact:</b> {{sejour.contact}}<br><br>
	</div>
	<i class="ion-ios-clock-outline"></i> <b>Date de départ:</b> {{sejour.date_depart}} à {{sejour.hdepart}}<br>
	<i class="ion-android-pin"></i> <b>Lieu de départ:</b> {{sejour.lieu_depart}}<br><br>
	<i class="ion-ios-clock"></i> <b>Date d'arrivée:</b> {{sejour.date_retour}} à {{sejour.retour}}<br> 
	<i class="ion-android-pin"></i> <b>Lieu d'arrivée:</b> {{sejour.lieu_retour}}<br><br>
	<i class="ion-ios-football"></i> <b>Activités:</b> {{sejour.activites}}<br><br>


	<a ui-sref="menu.actualites"><button class="button button-block button-positive"><i class="ion-ios-information">  </i>Voir les actualités de ce séjour<i class="ion-chevron-right"></button></i></a>
	<a ui-sref="menu.photos"><button class="button button-block button-energized"><i class="ion-images">  </i>    Voir les photos de ce séjour<i class="ion-chevron-right"></i></button></a>
	<a ui-sref="menu.commentaires"><button class="button button-block button-royal"><i class="ion-android-chat">  </i>    Accéder au blog de ce séjour<i class="ion-chevron-right"></i></button></a><br><br>
	</ion-content>
</ion-view>