<ion-view title="Actualités">
	<ion-nav-buttons side="left" class="has-header">
    	<button class="button button-icon icon ion-arrow-left-c" ui-sref="menu.actualites"></button>
	</ion-nav-buttons>
	<ion-content padding="true" class="has-header" overflow-scroll="false">
		<div class="titleShowActuality bold">{{actuality.title}}</div>
		<img ng-src="{{actuality.pictureName}}" class="imgShowActuality">
		<div class="textShowActuality">{{actuality.text}}</div>
		<a><div id="lienJalemaImg">{{actuality.nbLike}}&nbsp;&nbsp;<a id="lienJalemaUrlLike" ng-if="actuality.like === 1" ng-click="removeLike(actuality.id, index)">J'alema</a><a id="lienJalemaUrlNotLike" ng-if="actuality.like === 0" ng-click="addLike(actuality.id, index)">J'alema</a></div></a>
		<a id="lienCommentaireImg" ng-click="showCommentaires()">Commenter</a>
		<div class="spacer-60"></div>
	</ion-content>
</ion-view>