.sejour{
	font-size: 110%;
}

.sejour a{
	text-decoration: none;
}

.sejour button{
	font-weight: bold
	font-size: 80%;
}

.sejour a button i{
	color:black;
	position: float;
	float: left;
	font-size: 200%;
}
.sejour a button i.ion-chevron-right{
	float:right;
	color: white;
}