<div class="modal image-modal">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false" active-slide="activeSlide">
        <ion-slide ng-repeat="image in photos">
        	<i class="icon ion-close leaveCross" ng-click="closeModal('img')"></i>
            <img ng-src="{{image.src}}" class="fullscreen-image"/>
			<div id="lienJalemaImg">{{image.nbJaime}}&nbsp;&nbsp;<a href="#" ng-click="e.preventDefault()">J'alema</a></div>
			<a id="lienCommentaireImg" href="#" ng-click="showCommentaires()">Commenter</a>
        </ion-slide>
    </ion-slide-box>
</div>