<ion-view title="Commentaires" id="page2">
	<ion-nav-buttons side="right" class="has-header">
   		<button class="button button-icon icon ion-ios-contact" ui-sref="compte"></button>
  	</ion-nav-buttons>
    <ion-content padding="true" class="has-header" overflow-scroll="false">
		<i class="deleteCom icon ion-trash-a" ng-if="$root.login == 'admin'" ng-click="deleteCom()"></i>
		<div id="inputCommentaire">
			    <textarea id="textCommentaire" name="commentaire" placeholder="Entrez votre commentaire"></textarea>
			    <button id="buttonComment" class="button button-positive center">Commenter</button>
		</div>
		<br/>
		<div id="listCommentary">
				<div ng-repeat="com in commentary" ng-if="$index %2 === 0">
					<div id="blocCommentary" class="blocCommentary firstBlocCom" ng-if="$index < commentary.length">
						<div>
							<span class="pseudoCom">{{com.pseudo}}</span><span class="dateCom">{{com.date}}</span>
						</div><br/>
						<div class="textCom">{{com.text}}</div>
						<input type="checkbox" ng-model="commentary[$index].delete" ng-if="$root.login == 'admin'" ng-true-value="'yes'" ng-false-value="'no'"/>
					</div>
					<div id="blocCommentary" class="blocCommentary secondBlocCom" ng-if="$index + 1< commentary.length">
						<div>
							<span class="pseudoCom">{{com.pseudo}}</span><span class="dateCom">{{com.date}}</span>
						</div><br/>
						<div class="textCom">{{com.text}}</div>
						<input type="checkbox" ng-model="commentary[$index + 1].delete" ng-if="$root.login == 'admin'" ng-true-value="'yes'" ng-false-value="'no'"/>
					</div>
				</div>
			</div>
			<div class="spacer-60"></div>
	</ion-content>
</ion-view>
