<ion-view title="Mon Compte" hide-back-button="true" id="pageCompte" overflow-scroll="false">
   <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-arrow-left-c" ui-sref="mesSJours"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="center">
      <img src="img/profil.png" id="profil"/>
      <a>Modifier la photo</a>
    </div>
    <h3 class="underline">Vos informations :</h3>
    Barbier Manon <br/>
    Pseudo : <span class="bold">manonlabgdu33</span><br/>
    mbarbier54@enseirb-matmeca.fr <br/>
    Numéro de famille : <span class="bold">0123581R8</span><br/>
    <h3 class="underline">Vos enfants :</h3>
    <table>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Responsable</th>
        <th>Lien de parenté</th>
        <th>Personnes autorisées</th>
      </tr>
      <tr>
        <td>Barbier</td>
        <td>Martin</td>
        <td>Oui</td>
        <td>Mère</td>
        <td>Romain Barbier<br/>
            Lukaz Dupont</td>
      </tr>
      <tr>
        <td>Oillarburu</td>
        <td>Jean-Marie</td>
        <td>Non</td>
        <td>Cousine</td>
        <td></td>
      </tr>
    </table>
    <br/>
    <br/>
    <i class="icon ion-power" ui-sref="alema">&nbsp;&nbsp;Se déconnecter</i>
    <div class="spacer-60"></div>
  </ion-content>
</ion-view>